.rightsideBar {
  flex: 0.2;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 60px;
  border: 1px solid lightgray;
  border-radius: 5px;
  max-height: 85vh;
  background-color: white;
  
}