.rightsideBar {
  width: 20vw;
  margin-left: 5vw;
  
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  max-height: 85vh;
  background-color: white;
  size: 1vw;
}
@media screen and (max-width: 600px) {
  .rightsideBar {
      display: none;
  }
}