.feed {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  margin-left: 22vw;
}

/* @media screen and (min-width: 375px) {
  .feed {
    display: flex;
    flex-direction: column;
    flex: 0.64;
    margin-left: 8vw;
  }
}   */