/* //@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap"); */
/* .AddQuestions > {
    width: 700;
    height: 600;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-bottom: -350px;

} */
/* .modal__title > h5 {
    color: gray;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 30px;
  } */
  
  /* .modal__title > h5:hover {
    color: #b92b27;
  } */
  
  .Modal__info {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  .Modal__info > p {
    margin-left: 10px !important;
    margin-right: 40px;
    padding-right: 23px;
    font-size: small !important;
    color: gray;
  }

  .Modal__info > .scope {
    display: flex;
    align-items: center;
    color: rgb(98, 98, 98);
    padding: 5px;
    margin-left: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 33px;
    cursor: pointer;
  }
  
  .inputField {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    flex: 1;
  }
/* 
  .buttons {
    display: flex;
    align-items: center;
    margin-top: 260px;
    margin-right: -20px;
    border-top: 1px solid lightgray;
  } */
  
  .buttons > .cancle {
    margin-left: auto;
    border: none;
    
    outline: none;
    color: gray !important;
    font-weight: 500;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px !important;
    cursor: pointer;
    margin-left: 100px;
  }
  .buttons > .addQuestion{
    border: none;
    outline: none;
    background-color: rgb(90, 108, 161);
    color: white;
    font-weight: 700;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
  }
  

  
