/* //@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap"); */
.Modal_info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.Modal_info > p {
  margin-left: 15px !important;
  margin-right: 50px;
  padding-right: 25px;
  margin-top: 10px;
  font-size: small !important;
  color: gray;
}

.Modal_info > .scope {
  display: flex;
  align-items: center;
  color: rgb(98, 98, 98);
  padding: 5px;
  margin-left: 10px;
  background-color: rgb(230, 230, 230);
  border-radius: 30px;
  cursor: pointer;
}
.Modal_info > .scope >p {
    margin-top: 15px;
    font-size: small;
    text-align: center;
    padding-left: 5px;
}

.Modal_info > .scope > .expand {
  margin-top: 4px;
}


.inputField {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  flex: 1;
}

/* .buttons {
  display: flex;
  align-items: center;
  margin-top: 260px;
  margin-right: -20px;
  border-top: 1px solid lightgray;
} */

.buttons > .cancel {
  margin-left: auto;
  border: none;
  background-color: rgb(109, 121, 156) !important;
  outline: none;
  font-weight: 500;
  padding: 10px;
  margin-right: 10px;
  border-radius: 30px !important;
  cursor: pointer;
  margin-left: 100px;
}
.buttons > .cancel:hover {

  background-color: rgb(90, 108, 161) !important;

}
.buttons > .addQuestion{
  border: none;
  outline: none;
  background-color: rgb(109, 121, 156);
  color: white;
  font-weight: 700;
  padding: 10px;
  margin-right: 10px;
  border-radius: 33px;
  cursor: pointer;
}

.buttons > .addQuestion:hover{
 
  background-color: rgb(90, 108, 161);
 
}

@media screen and (max-width: 356px) {
  .buttons > .addQuestion{
      font-size: x-small;
  }
}
@media screen and (max-width: 356px) {
  .buttons > .cancel{
      font-size: x-small;
  }
}


  

  
