.sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  
  border: 1px solid lightgray;
  border-radius: 5px;
  max-height: 85vh;
  background-color: white;
  padding-right: 2%;
  position: fixed;
  width: 20vw;
  margin-right: 70vw;

}
@media screen and (max-width: 600px) {
  .sidebar {
    width: 30vw;
  }
}


