@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
 

.Header {
 list-style-type: none;
 width: 100%;
 background-image: linear-gradient(to right,#265077,#1E4258);
 position: sticky;
 z-index: 1000;
 top: 0;
 box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
}
.logo{
  font-size: 1.8vw !important;
  font-weight: 500;
  color: yellow !important;
}
Link.active{
  color: palevioletred;
}

.comp{
display: flex;
align-items: center;
cursor: pointer;
font-size: 1.2vw;
color : yellow !important;
margin-left: 0.2vw;
margin-right: 0.2vw;
}
.comp:hover{
 text-decoration: underline;
 text-underline-offset: 5px;
  } 
.icon:hover{
 text-decoration: underline !important;
 text-underline-offset: 5px !important;

}
.addQuestion{
  display:inline-block;
  margin-top: 4px;
  border-radius:2vw;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#494B68;
  text-align:center;
  transition: all 0.2s;
  }
  .addQuestion:hover{
  background-color:#4095c6;
  }
  .searchBar{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 1vw;
    width: 28vw;
  }
  

  .icon{
    color: yellow !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2vw;
  }
  .login{
   color: yellow !important;
    font-size: 1.2vw;
  }
  .login:hover{
   text-decoration: underline;
   text-underline-offset: 5px;
  }
   .active {
     text-decoration: underline;
     text-underline-offset: 5px;
  } 
  .avatar {
    font-size: 1.2vw;
    color: white !important;
  }

 

 /* Responsive */
     @media screen and (max-width: 1209px) and (min-width: 982){
    .login {
      font-size: 1.5vw;
      align-items: center;
     
    }
    .comp {
      font-size: 1.5vw;
    }
    .logo {
      font-size: 1.8vw;
    }
    .addQuestion {
      font-weight: 200;
    }
    .avatar {
      font-size: 1.5vw;
    }
    .searchBar {
     
      width: 20vw;
    }
  }   

  @media screen and (min-width: 750px) and (max-width: 990px) {
   .login {
     font-size: 2vw;
   }
   .comp {
     font-size: 2vw;
   }
   .logo {
     font-size: 3vw !important;
   }
   .addQuestion {
     font-weight: 150;
   }
   .searchBar {
    
    width: 50vw;
  }
 } 
  @media screen and (min-width: 500px)  and (max-width: 739px) {
   .login {
     font-size: 2.4vw;
   }
   .comp {
     font-size: 2.4vw;
   }
   .logo {
     font-size: 4vw !important;
   }
   .addQuestion {
     font-weight: 145;
   }
   .searchBar {
   
    width: 50vw;
  }
 }  
 @media screen and  (max-width: 506px) {
  .login {
    font-size: 2.9vw;
  }
  .comp {
    font-size: 2.9vw;
  }
  .logo {
    font-size: 4vw !important;
  }
  .addQuestion {
    font-weight: 100;
    font-size: x-small;
  }
  .searchBar {
  
   width: 60vw;
 }
} 

@media screen and  (max-width: 320px) {
  .login {
    font-size: 3.9vw;
  }
  .comp {
    font-size: 3.9vw;
  }
  .logo {
    font-size: 6vw !important;
  }
  .addQuestion {
    font-weight: 200;
    font-size: x-small;
  }
  .searchBar {
  
   width: 60vw;
 }
} 
; 